body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../images/constructorsImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Stile del form */
form {
    max-width: 1200px; /* Aumenta la larghezza del form a tuo piacimento */
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

h2{
    color: #333;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Center alignment */
    margin: 0 auto;
    display: block;
}


input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Center alignment */
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
