<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1Track</title>
    <link rel="stylesheet" type="text/css" href="../static/cssStyles/cssConstructors.css">

    <!--links per far aprire la tendina verso il basso-->
    <!-- Includi il foglio di stile CSS di Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Includi jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Includi il file JavaScript di Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <style>
        /* CSS styles for the iframe container */
        .navbar-container {
            width: 100%;
            height: 50px;
            border: none;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <form action="/getConstructors" method="GET">
            <h2>Search the constructors for season</h2>
            <br>
            <label for="year-select">Select the season:</label>
            <select class="form-control" id="year-select" name="year">
                {%for year in s%}
                    <option value="{{year}}">{{year}}</option>
                {%endfor%}
            </select>
            <script>
                $(document).ready(function() {
                    $('#year-select').select2({
                    dropdownDirection: 'below' // Imposta la tendina per aprirsi verso il basso
                    });
                });
            </script>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>