<!DOCTYPE html>
<html>
    <head>
        <title>F1Track</title>
        <style>
            /* CSS styles for the iframe container */
        /* Style the navbar */
            .footer {
                background-color: black;
                overflow: hidden;
                width: 100%;
                position: fixed;
                bottom: 0;
                z-index: 999;
                padding-left: 0px;
                height: 50px;
                border: none;
            }
            
          
            
        </style>
    </head>    
    <body>
        <div class="footer">
            
        </div>
    </body>
</html>