<!DOCTYPE html>
<html>
    <head>
        <title>F1Track</title>
        <style>
            .footer {
                background-color: black;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: auto;
                margin-bottom: 0;
            }
        </style>
    </head>    
    <body>
        <div class="footer">
            <div class="container-footer">
                <p class="text-center text-white">Developed by: Simone Della Porta &amp; Rocco Iuliano</p>
            </div>
        </div>
    </body>
</html>